# Copy this to .env and fill values
DISCORD_WEBHOOK_URL=YOUR_DISCORD_WEBHOOK_URL_HERE
POLL_INTERVAL_SECONDS=30

TARGET_URL=https://kickugcleaks.zgameszone.workers.dev/#about
CATEGORY_BUTTON_SELECTOR=
CARD_SELECTOR=
TITLE_SELECTOR=
LINK_SELECTOR=
TIMESTAMP_SELECTOR=

ROLE_ID_UPCOMING=1545880166683906118
ROLE_ID_PAID=1545880048567984188
ROLE_ID_REGULAR=1545881749064646777
ROLE_ID_ABANDONED=1545880971415527504
ROLE_ID_ACTIVE=1545881407656558612

COLOR_UPCOMING=3447003
COLOR_PAID=16766720
COLOR_REGULAR=3066993
COLOR_ABANDONED=10038562
COLOR_ACTIVE=15277667

SEEN_STORE=seen.json
